.topBar {
    padding-left: 24px;
    border-bottom: 1px solid #ddd;
    height: 70px;
    position: relative;
    background-color: white;

    // .topBar__title {
        // display: block;
    .topBar__title {
        display: inline-block;

        .topBar__titleLabel {
            line-height: 2em;
            display: block;
            font-family: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;
            font-size: 13px;
            color: #4E5C6E;
        }
    
        .topBar__titleInput {
            border: none;
            font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
            font-weight: 400;
            font-size: 18px;
            border-radius: 5px;
            padding: 4px 8px;
            border: 1px solid #fff;
    
            &:hover {
                border: 1px solid #e9e9e9;
            }
    
            &:focus {
                border: 1px solid #e7e7e7;
                outline: none;
            }
        }
    }

    .topBar__edit {
        display: inline-block;
        text-decoration: underline;
        margin-left: 12px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, .7);
    }

    .topBar__saving {
        margin-left: 8px;
        display: inline-block;

        .saving__icon {
            opacity: 0;
            vertical-align: bottom;
            width: 30px;

            transition: opacity 0.15s ease-in;

            &--in {
                opacity: 1;

                transition: opacity ease-out 0.10;
            }
        }
    }

    .topBar__buttons {
        float: right;
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
    }
}