.main {
    height: 100vh;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;

    .main__placeHolder {
        color: rgba(24, 54, 14, 0.4);
        text-align: center;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
}