.main {
    height: 100%;
    width: 100%;

    // .rc-md-editor {
    // }

    .ProseMirror {
        height: 94vh;
        // width: 800px;
        // padding: 48px;
        padding: 6vh 30% 0;
        // padding-top: 4vh;
        // padding-left: 48px;
        overflow: auto;
    }
}