.main {
    height: 100%;
    width: 100%;

    // .rc-md-editor {
    // }

    .ProseMirror {
        height: 96vh;
        // padding: 48px;
        padding-top: 4vh;
        padding-left: 48px;
        overflow: auto;
    }
}