.main {
    height: 100vh;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .main__title {
        padding-left: 24px;
        border-bottom: 1px solid #ddd;
        height: 70px;

        .main__label {
            line-height: 2em;
            display: block;
            font-family: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;
            font-size: 13px;
            color: #4E5C6E;
        }

        .main__titleInput {
            border: none;
            font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 42px;

            &:focus {
                border: none;
                outline: none;
            }
        }
    }

    .main__contentContainer {
        flex: 1;
        overflow: auto;
        background-color: #e6e6e6;
        .main__content {
            // padding: 0 10%;
            margin: 0 auto;
            // position: relative;
            // // overflow: auto;
            // left: 50%;
            // transform: translate(-50%);
            padding: 24px 42px;
            width: 816px;
            // .gelrDo {
                // width: 816px;
            // }
            .ProseMirror {
                padding: 42px;
                box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            }
        }
    }
}