.sideBar {
    height: 100%;
    width: 300px;
    background-color: #2e2e2e;
    color: white;
    padding: 0 24px;
    .sideBar__user {
        text-align: center;
        margin-top: 24px;
        opacity: .5;
        
        .sideBar__email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sideBar__carrot {
            margin-left: 14px;
        }

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
    
    .sideBar__button {
        background-color: #3aa82d;
        border-radius: 14px;
        padding: 8px;
        text-align: center;
        margin-top: 24px;
        &:hover {
            cursor: pointer;
            background-color: #308e26;
        }
    }

    .sideBar__notes {
        margin-top: 24px;
        opacity: 0.9;

        .sideBar__listItem {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-top: 10px;

            .sideBar__title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                cursor: pointer;
            }

            svg {
                font-size: 1.5em;
            }
        }

        .--file {
            margin-left: 32px;
        }

        .--folder {
            font-size: 14px;
        }
    }
}