.publishButton {
    // background-color: blue;
    display: inline-block;
    // background-color: #308e26;
    background-color: #358D35;
    border-radius: 6px;
    padding: 6px;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;

    &:hover {
        cursor: pointer;
        background-color: #2d792d;
    }

    &:active {
        cursor: pointer;
        background-color: #276927;
    }

    &:disabled {
        color: white;
    }
}