.sideBar {
    height: 100%;
    width: 225px;
    background-color: #2e2e2e;
    color: white;
    // padding: 0 24px;

    .sideBar__user {
        // margin-top: 24px;
        margin: 24px 12px;
        opacity: .5;
        display: flex;
        justify-content: center;
        .sideBar__email {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block
        }

        .sideBar__carrot {
            margin-left: 14px;
        }

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    .dropdown {
        position: relative;
        .dropdown__menu {
            position: absolute;
            // left: 0px;
            // top: -4;
            background-color: white;
            width: 300px;
            font-size: 14px;
            color: rgba(0,0,0, 0.7);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            z-index: 400;
            // display: block;
            animation: fadeInAnimation ease 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            margin: 10px 0;
            padding: 12px 0;
            
            // left: 5px;
            // top: -5px;

            .dropdown__option {
                padding: 6px 20px;
                // width: 100%;

                &:hover {
                    background-color: #eee;
                    cursor: pointer;
                }
            }
    
        }
    }

    
    // .sideBar__gitHubConnect {
    //     // background-color: #3aa;
    //     border: 1px solid #3aa;
    //     border-radius: 14px;
    //     padding: 8px;
    //     margin: 24px 18px 0px;
    //     text-align: center;
    //     color: #3aa;

    //     &:hover {
    //         cursor: pointer;
    //         background-color: rgba(34, 112, 112, 0.4);
    //     }
    // }

    .sideBar__button {
        background-color: #3aa82d;
        border-radius: 14px;
        padding: 8px;
        text-align: center;
        // margin-top: 24px;
        margin: 6px 18px 0px;
        &:hover {
            cursor: pointer;
            background-color: #308e26;
        }
    }

    .sideBar__notes {
        margin-top: 24px;
        opacity: 0.9;
    }
}