.sideBar {
    height: 100%;
    width: 225px;
    background-color: #2e2e2e;
    color: white;
    // padding: 0 24px;

    .sideBar__user {
        // margin-top: 24px;
        margin: 24px 12px;
        opacity: .5;
        display: flex;
        justify-content: center;
        .sideBar__email {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block
        }

        .sideBar__carrot {
            margin-left: 14px;
        }

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    .sideBar__button {
        background-color: #3aa82d;
        border-radius: 14px;
        padding: 8px;
        text-align: center;
        // margin-top: 24px;
        margin: 24px 18px 0px;
        &:hover {
            cursor: pointer;
            background-color: #308e26;
        }
    }

    .sideBar__notes {
        margin-top: 24px;
        opacity: 0.9;
    }
}